body{
    padding: 0px;
    margin: 0px;
    /* fundo gradiente */
    background-image: linear-gradient(to bottom,rgb(0, 97, 97), rgb(0, 213, 213)) ;       
}
header{
    background-color: white;
    padding: 27px;
    border-radius: 0px 0px 20px 20px ;
    box-shadow: 3px 3px 17px black;   
}
header > h1{
    font: normal bold 45px 'verdana';
    text-align: center;
    color: aquamarine;
    text-shadow: 4px 4px 15px black;
}
header > nav >  ul{
    padding: 15px;
    width: 80%;
    margin: auto;
    list-style-type: none;
    display: flex;
}
header > nav > ul > li > a{
    font:normal bold 25px 'tahoma';
    text-align: center;
    color: aquamarine;
    text-decoration: none;
    margin: 10px 35px;
    padding: 15px;
    transition-duration: 0.7s;
}
header > nav > ul > li > a:hover{
    padding: 20px;
    font: normal bold 37px 'tahoma';
    text-decoration: underline;
    color: rgb(0, 96, 64);
}
main{
    width: 85%;
    background-color: rgb(168, 255, 249);
    margin: auto;
    padding: 30px;
    border-radius: 0px 0px 25px 25px;
    box-shadow:  4px 4px 20px black;
}
main > section{
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 17px black;
    margin: 20px 15px;
    text-align: center;
}
main > section > h1{
    font: normal bold 35px 'arial';
    text-align: center;
    color: rgb(0, 152, 101);
    text-decoration: underline;
}
main > section > p{
    font: normal bold 25px 'arial';
    text-align: justify;
    color: rgb(0, 152, 101);
}
main > section > a{
    font: normal bold 25px 'verdana';
    text-align: center;
    color: aquamarine;
    background-color: rgb(1, 83, 83);
    border-radius: 17px;
    text-decoration: none;
    padding: 20px;
    transition-duration: 0.7s;
}
main > section > a:hover{
    padding: 25px;
    font: normal bold 35px 'verdana';
    color: rgb(0, 89, 59);
    background-color: aquamarine;
    text-decoration: underline;
}
footer{
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    padding: 30px;
    margin: 40px 0px 0px 0px ;
    box-shadow: 3px 3px 12px black;
}
footer > h1{
    font: normal bold 45px 'tahoma';
    color: rgb(0, 89, 89);
    text-align: center;
}
footer > h1 > a{
    color: rgb(0, 89, 89);
    text-decoration: none;
    transition-duration: 0.5s;
}
footer > h1 > a:hover{
    padding: 20px;
    font: normal bold 55px 'verdana';
    color: aquamarine;
    background-color: rgb(0, 89, 89);
    border-radius: 20px;
}